/* normalize.css
------------------------ */
@import 'normalize.css/normalize.css';
/* ==========================================================================
  Foundation
========================================================================== */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600&family=Nunito&family=Playfair+Display:wght@400;700&family=Poppins:wght@700&display=swap");
a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/**
 * Minified by jsDelivr using clean-css v5.3.2.
 * Original file: /npm/reset-css@5.0.2/reset.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block;
}

[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ==========================================================================
  layout
========================================================================== */
.l-wrap-inner {
  max-width: 1160px;
  margin: 0 auto;
}
.l-wrap-inner--full {
  max-width: 1440px;
}

/* ==========================================================================
  Project
========================================================================== */
.p-bloc--discover {
  padding: 50px;
}
.p-bloc--discover .card-bloc {
  display: flex;
  position: relative;
}
.p-bloc--discover .card-bloc .card .txt-box {
  width: 280px;
  margin: 0 auto;
  margin-top: -120px;
  z-index: 100;
}
.p-bloc--discover .card-bloc .card .txt-box h3 {
  font-family: "Playfair Display", serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 44px;
  color: #f49f0a;
}
.p-bloc--discover .card-bloc .card .txt-box p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 20px;
}

.p-bloc {
  background-color: #0D1118;
}

/* ==========================================================================
  Component
========================================================================== */
.c-btn {
  width: 160px;
  height: 50px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.c-btn a {
  background-color: #f49f0a;
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
}
.c-btn a::after {
  content: "";
  background: #e89400 url("../img/arrow-right.png") no-repeat;
  width: 50px;
  height: 50px;
  background-position: center;
}

.c-title {
  text-align: center;
  color: #fff;
}
.c-title h2 {
  font-family: "Playfair Display", serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 30px;
}
.c-title p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}/*# sourceMappingURL=style.css.map */