.p-bloc{
    &--travel{
        padding: 200px 0;
        .card-bloc{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px;
            .card{
                background-color: $cardBg;
                margin-bottom: 40px;
                .txt-box{
                    padding: 30px;
                    width: 280px;

                    .author{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-bottom: 14px;

                        p{
                            color: #dfdfdf;
                            font-family: $muli;
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }

                    &__txt{
                        font-family: $muli;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px;
                        margin-bottom: 11px;
                        color: $white;
                    }

                    &__date{
                        color: $date;
                        font-family: $muli;
                        font-size: 14px;
                        font-weight: 400;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                }
            }
        }

        @media screen and (max-width: 1080px) {
            .card-bloc{
                justify-content: space-around;
            }
        }

        .c-btn{
            &--travel{
                width: 200px;
                margin: 0 auto;
            }
        }
    }
}